nav
  fixed top
  padding .5em
  min-width 100%
  z-index 1
  display flex
  justify-content space-between
  align-items baseline
  background black

  #logo

    a
      letter-spacing -.2em
      color white
      text-decoration none
      padding 0 0 0 1em
      transition .5s ease-in-out 0s

      &:hover
        color grey

  #navbar
    align-self flex-end
    padding 0 2em 0 0

    a
      color white
      text-decoration none
      margin 0 1em
      font 300 .75em normal
      transition .5s ease-in-out 0s

      &:hover
        color grey
