#about
  h3 Hello. I am Adam Reklow.
  p I love learning. I love learning so much I taught myself how to code. In the process I learned to build
    u dynamic web applications
    |  and
    u static web sites
    |. My work history certainly shows my support for diversity and the importance of education. Now I work to bring together my esoteric career into one coherent whole; using all facets of my eclectic life.
