#contact
  
  h3 Reach out!
  
  form(action='http://formspree.io/adamrecvlohe@gmail.com' method='POST')
    .input-group
      label What Does Your Mom Call You?
      input(type='text' name='name' placeholder='John Jacob Jingleheimer Schmidt')
    .input-group  
      label What Is Your Online Pen Pal Name?
      input(type='email' name='_replyto' placeholder='beetlejuice@saythreetimes.com')
      
    .input-group
      label Tell Me About Your Project!
      textarea(placeholder='We do fun things like make awesome sauce.')
      
    .input-group
      input(type='submit' value='Send')
      
  a(href='#header')
    i.fa.fa-arrow-circle-up.fa-2x
      
